
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
}

.about-container h1 {
  margin-bottom: 75px;
}

.bio-container {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-img {
  width: 30vh;
  height: 30vh;
  margin-bottom: 50px;
}

.about-text p {
  font-size: 20px;
  line-height: 140%;
}
