@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
}

html {
  height: 100%;
}
