.work-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-inner {
  max-height: 40rem;
  /* object-fit: cover;
  overflow: hidden; */
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
display: block;
background-color: transparent;
max-width: 75%;
line-height: 1;
margin: 0 auto;
width: 100%;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}
